@model IEnumerable<fruitkha_main.Models.bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<div class="col-lg-6" style="margin-left:248px;margin-top:-30px">
    <div class="card" style="width:1100px;">
        <p style="margin-left:990px;margin-top:20px">
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="card-body">
            <div class="card-title">
                <h4>Table Images</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.bill_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user.username)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.bill_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.username)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
