@model fruitkha_main.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal" style="width:1000px;margin-left:300px;background-color:white;padding:20px;border-radius:20px">
        <dt>

            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

            <dd>
                @*@Html.DisplayFor(model => model.avatar)*@
                <img src="~/Areas/Asset/FileUpload/@Html.DisplayFor(model => model.avatar)" style="height:60px;" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.origin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.detail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.category.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.supplier.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.supplier.name)
            </dd>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        </dl>
</div>
